h1 {
  font-family: "Noto Serif Toto", serif;
  color: white;
}

p {
  font-family: "Crimson Text", serif;
  color: white;
}

.hero {
  background-color: #07112c;
  text-align: center;
}

.hero h1 {
  font-size: 60px;
}
